h1 {
  font-family: cursive;
  text-align: center;
  background-color: cyan;
  border: 2px solid black;
  border-radius: 5px;
  width: 250px;
  margin: auto;
}
input[type=text]{
}

textarea {

}
.header{
  font-family: cursive;
  text-align: center;
  background-color: cyan;
  border: 2px solid black;
  border-radius: 5px;
  width: 250px;
  margin: auto;
}
